.form-control{
    position:relative;
    margin:20px 0 40px;
    width:500x;
}
.form-control input{
    background-color: transparent;
    border:0;
    border-bottom: 2px rgb(34, 2, 2) solid;
    display: block;
    width: 300px;
    padding:15px 0;
    font-size: 18px;
    color:rgb(21, 1, 1);

}
.form-control input:focus,
.form-control input :valid{
  outline: 0;
  border-bottom-color: #0f0202 ;
}
.form-control label{
    position: absolute;
    top:15px;
    left:0;
    pointer-events: none;
}
.form-control label span{
    display:inline-block;
    font-size: 18px;
    min-width: 5px;
    color:rgb(23, 1, 1);
    -webkit-transition:
    0.3s cubic-bezier(0.68 , -0.55 , 0.265 , 1.55);
    transition:
    0.3s cubic-bezier(0.68 , -0.55 ,  0.265 , 1.55);
}
.form-control input:focus+label span, 
.form-control input:valid+label span{
    color:#0a0000;
    -webkit-transform:translateY(-30px);
    -ms-transform: translateY(-30px);
    transform:translateY(-30px);
}
input[ type="submit"]
{
    border-radius: 20px;;
    padding:10px 50px;
    margin:0px 10px;
    float:left;
    color:#0f0202;
    font-weight: bolder;
    background-color:antiquewhite;
    transition: all 1s ease;
}
input[ type="submit"]:hover{
    background-color:rgb(3, 60, 60);
    color:aliceblue;
}